<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <a class="lnk-to-page" href='#/pages/tables/drivers'>
      <ngx-status-card title="Drivers" value='{{numberOfDrivers}}' type="primary">
        <i class="nb-person"></i>
      </ngx-status-card>
    </a>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <a class="lnk-to-page" href='#/pages/tables/vehicles'>
      <ngx-status-card title="Vehicles" value='{{numberOfVehicles}}' type="success">
        <i class="fa fa-automobile"></i>
      </ngx-status-card>
    </a>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <a class="lnk-to-page" href='#/pages/tables/transports'>
      <ngx-status-card title="Distances" value="10000 km" type="info">
        <i class="nb-location "></i>
      </ngx-status-card>
    </a>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <a class="lnk-to-page" href='#/pages/tables/transports'>
      <ngx-status-card title="Durations" value="10000 hr" type="info">
        <i class="nb-sunny"></i>
      </ngx-status-card>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12 col-md-12">
    <ngx-transports></ngx-transports>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12 col-md-12">
    <ngx-chartjs></ngx-chartjs>
  </div>
</div>
