<div class="row">
  <div class="col-xxl-6 col-md-6 home-header">
    <img src="../../../assets/images/home-bg-img.jpg" />
  </div>
  <div class="col-xxl-6 col-md-6 home-header">
    <nb-card>
      <nb-card-header>Contact Us</nb-card-header>
      <nb-card-body>

        <span>
          <b>Eezer</b> is a non-profit organization which delivers motorcycle ambulances for reduced maternal mortality in Africa.
          Apply for membership by paying 200 SEK through our <a href='https://www.eezer.org/shop/'>webshop</a>.
        </span>
        <br/>
        <br/>
        <br/>
        <div class="links">
          <b class="form-text">Connect with Us</b>
        <br/>

          <div class="socials">
            <a href="https://www.instagram.com/eezer_/" target="_blank" class="socicon-instagram with-icon"></a>
            <a href="https://www.facebook.com/Eezerinitiative/" target="_blank" class="socicon-facebook with-icon"></a>
            <a href="https://www.linkedin.com/company/eezer/" target="_blank" class="socicon-linkedin with-icon"></a>
            <a href="https://github.com/EEZER" target="_blank" class="socicon-github with-icon"></a>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <a class="lnk-to-page" href='#/pages/tables/drivers'>
      <ngx-status-card title="Drivers" value='{{numberOfDrivers}}' type="primary">
        <i class="nb-person"></i>
      </ngx-status-card>
    </a>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <a class="lnk-to-page" href='#/pages/tables/vehicles'>
      <ngx-status-card title="Vehicles" value='{{numberOfVehicles}}' type="success">
        <i class="fa fa-automobile"></i>
      </ngx-status-card>
    </a>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <a class="lnk-to-page" href='#/pages/tables/transports'>
      <ngx-status-card title="Distances" value="{{totalDistance}} km" type="info">
        <i class="nb-location "></i>
      </ngx-status-card>
    </a>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <a class="lnk-to-page" href='#/pages/tables/transports'>
      <ngx-status-card title="Durations" value="{{totalDuration}} Hr" type="info">
        <i class="nb-sunny"></i>
      </ngx-status-card>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12 col-md-12">
    <ngx-transports></ngx-transports>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xxl-12 col-md-12">
    <ngx-chartjs></ngx-chartjs>
  </div>
</div> -->
