<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Drivers" value='5000' type="primary">
      <i class="nb-person"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Vehicles" value='1500' type="success">
      <i class="fa fa-automobile"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Distances" value="10000 km" type="info">
      <i class="nb-location "></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Durations" value="10000 hr" type="info">
      <i class="nb-sunny"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12 col-md-12">
    <ngx-transports></ngx-transports>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12 col-md-12">
    <ngx-chartjs></ngx-chartjs>
  </div>
</div>
